.home {
    background-color: rgb(255, 190, 148);
    height: 100px;
}

h2 {
    color : rgb(50, 70, 151);
}

.bottomBar {
    background-color: rgb(255, 165, 105);
    height: 120px;
    display: flex;
    text-align: center;
    width: 95%;
    border-radius: 2em;
    margin-left: 2%;
    object-fit: scale-down;
    margin-top: 30px;
    border: 2px solid #777 !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 5px;
}

.bottomBar img {
    max-width: 100%;
    float: none;
    width: 25%;
    margin-left: 6%;
}

.imgBandeau{
    width: 75%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

.imgHelp {
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
}

.imgMain {
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
    width: auto;
}

.imgLink {
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
}

.img {
    margin: 10%;
    width: fit-content;
}

.imgTour1{
    max-width: 250px;
    max-height: 280px;
    margin-top: 5%;
}

.imgTour2{
    max-width: 250px;
    max-height: 280px;
    margin-top: 5%;}

.imgTour3{
    max-width: 250px;
    max-height: 280px;
    margin-top: 5%;
}

.accesCode {
    margin: 0.5%;
    width: 40%;
    text-align: center;
    height: 35px;
    font-size: 80%;
}

.btn.btn-success {
    margin: 2%;
    width: auto;
    border-radius: 15% !important;
    border: 2px solid #444 !important;
}

.page{
    background-color: rgb(255, 190, 148);
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.mainWrapper{
    width: 100%;
    font-family: BrixtonMed;
}

.currentTour{
    font-family: Amarillo;
    margin-top: 20%;
    font-size: 2.5em;
    color: rgb(50, 70, 151);
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

@font-face {
	font-family: "BrixtonMed";
    src: url('font/Brixton-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrixtonBold";
    src: url('font/Brixton-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url('font/verdana.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VerdanaBold";
    src: url('font/verdanab.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VerdanaIta";
    src: url('font/verdanai.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amarillo";
    src: url('font/Amarillo.ttf');
    font-weight: normal;
    font-style: normal;
}

.titreRegles{
    font-family: Verdana;
    font-size: 180%;
    color: rgb(226, 113, 33);
    margin: 10px;
    margin-bottom: 20px;
}

.textRegles{
    text-align: left;
    font-family: Verdana;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.titreCredit{
    font-family: Verdana;
    font-size: 180%;
    color: rgb(226, 113, 33);
    margin: 10px;
    margin-bottom: 20px;
}

.textCredit{
    text-align: left;
    font-family: Verdana;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.contactCredit{
    text-align: center;
    font-family: VerdanaBold;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    position: relative;
    min-height: 100%;
  }


#list-example.list-group{
    margin: 10px;
    display: block;
    font-family: Amarillo;
} 
.list-group-tour.list-group-tour-action{
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.nav li{
    float:left;
}

.scrollspy-example {
    position: relative;
    height: 260px;
    margin-top: .5rem;
    overflow: auto;
}

.pomodoroTimer {
    background: #e9eea3;
    border: 3px solid #777;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    padding: 1em;
    width: 70%;
    height: 150px;
  }

  .timer-control {
    font-size: 2em;
    width: 100%;
    transition: all 0.25s ease-in;
  }

  .timer-control:hover {
    color: #00cc66;
    cursor: pointer;
  }

  .times-up {
    color: #B22222;
  }

.stepper:hover {
      color: #00cc66;
    }

#interface {
        text-align: center;
        margin-top: 10px;
    }
        button {
          background: none;
          border: 3px solid #444;
          border-radius: 50% !important;
          color: #444;
          font-weight: bold;
          width: 58px;
          height: 58px;
          transition: all .2s ease-in;
        }
        #interface button:hover {
            background: #B22222;
            color: #FEFFF1;
          }

         .stepperMoins {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: #444;
            transition: all .25s ease-in;
            float: left;
          }

          .stepperPlus {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: #444;
            transition: all .25s ease-in;
            float: right;
          }
          .resetButton{
              position: relative;
          }
          .stopButton{
              background-color: chocolate;
              border-radius: 15% !important;
              float: right;
          }

        .gameDiv{
            background: #e8ebc5;
    border: 3px solid #777;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    width: 85%;
    padding: 2%;
        }

    .currentWord{
        font-size: 1.7em;
        margin: 10px;
    }

    #WordPass{
        margin-right: 10%;
        float: right;
        font-size: 0.7em;
        width: 42px;
        height: 42px;
        margin-top: 4%;
    }

    #WordFound{
        margin-right: 15%;
        margin-left: 10%;
        font-size: 1.5em;
    }

    .nbWordsLeft{
        background-color: chocolate;
        border-radius: 50%;
        color: white;
        border: 1px solid #444;
        padding: 1%;
        padding-left: 5px;
        position: relative;
        top: -50px;
        right: -5px;
        float: right;
    }

    .btn.btn-lg.btn-danger{
        border-radius: 15% !important;
        border: 2px solid #444;
        width: auto;
    }

    .btn.btn-lg.btn-success{
        border-radius: 15% !important;
        border: 2px solid #444;
        width: auto;
    }